body {
    background-color: #f3f1f9;
    font-family: "PT Mono", serif;
    font-weight: 400;
    font-style: normal;
  }

a{
    color: #885ef2;
   }

header {
    border-bottom: 1px solid #e3eaf2;
    padding: 0 0 30px 0;
}  

main {
    padding: 30px 0;
}

footer {
    border-bottom: 1px solid #e3eaf2;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color-scheme: #a9aab8;
}

.weather-app {
    background-color: white;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 20px;
    padding: 30px;
}

.search-form-input {
    background-color: #F3F1F9;
    border: none;
    border-radius: 8px;
    width: 75%;
    padding: 15px 20px;
    font-size: 18px;
}

.search-form-button {
    background-color: #a187e4;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 18px
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

.weather-app-city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-details{
    font-size: 16px;
    line-height: 20px;
    color: #a9aab8;
    font-weight: 500;
}

.weather-app-details strong{
    color: #ee5684;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  .weather-app-temperature-container {
    display: flex;
  }

  .weather-app-icon{
    font-size: 44px;
    margin-top: 22px;
}

.weather-forecast-date {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .weather-forecast-icon {
    font-size: 38px;
    text-align: center;  
  }

  .weather-forecast-temperatures {
    text-align: center;
    color: #f65282;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .weather-app-unit{
    margin-top: 14px;
    font-size: 28px;
}

.weather-forecast-temperature {
    padding: 0 10px;
  }


.weather-app-temperature{
    font-size: 88px;
    font-weight: bold;
    margin-left: 10px;
}

.weather-info-container{
display: flex;}








  