body {
    background-color: #f3f1f9;
    font-family: "PT Mono", serif;
    font-weight: 400;
    font-style: normal;
  }

.weather-app {
    background-color: white;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 20px;
    padding: 30px;
}



  